/* ------- */
/* SideNav */
/* ------- */
.sideNav {
  position: fixed;
  height: 100vh;
  width: var(--navWidthLarge);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  .sideNav {
    border: 1px solid yellow;
    width: var(--navWidthSmall);
  }
}

@media (max-width: 650px) {
  .sideNav {
    border: 1px solid greenyellow;
    width: 100%;
    transition: transform 450ms ease-out;
  }

  .sideNavHidden {
    transform: translateX(-100%);
  }
}